vertical-gradient( $top, $bottom )
	background $top
	background linear-gradient( top, $top 0%, $bottom 100% )

horizontal-gradient( $top, $bottom )
	background $top
	background linear-gradient( left, $top 0%, $bottom 100% )


radial-gradient( $outer, $inner, $type = circle )
	background $outer
	background radial-gradient( center, $type cover,  $inner 0%, $outer 100% )
